<!doctype html>
<title>Scrape Debug</title>
<style>
pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.good-type {
    color: #00FF00;
}

.bad-type {
    color: #FF0000;
}

</style>
{% for property, json in output.items() %}

    <h2>{{ property }} : 

        {% if json['status'] %}
            <code class="good-type">{{ json['type'] }}</code>
        {% else %}
            <code class="bad-type">{{ json['type'] }}</code>
        {% endif %}
    </h2>

    <pre><code>{{ json['value']}}</code></pre>
    
{% endfor %}
